.rodape {
    padding: 2.5625rem 0 2.5625rem;
    text-align: center;
    background: var(--verde);
    display: block;
    width: 100vw;
    color: var(--branco);
    margin-top: 1rem;
}

.rodape a {
    text-decoration: none;
    color: var(--branco);
}