.conteudo {
    text-align: center;
}

.conteudo__texto {
    padding: 1.7rem 5.1875rem;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--azul);
}

@media screen and (min-width: 768px) {
    .conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1137px;

        margin: 0 auto;
        gap: 1rem;
        flex-grow: 1;
    }
    .conteudo__texto {
        margin-top: 8.6875rem;
        width: 100%;
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .conteudo__texto {
        margin-top: 0px;
    }
}
