.conteudo {
    text-align: center;
    padding: 1rem;
    flex-grow: 1;
    font-family: var(--font-poppins);
}

.conteudo__texto {
    padding: 1.7rem 3.1875rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--azul);
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .conteudo__texto {
        margin-top: 6.6875rem;
        width: 100%;
        font-size: 18px;
        margin-right: auto;
        margin-left: auto;
    }
}
