.navegacao {
    padding: 3rem;
    display: inline-block;
}

.navegacao__item {
    margin-right: 3.75rem;
}

.cabecalho__imagem {
    margin-left: 1.1rem;
}

.cabecalho__imagem-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .navegacao {
        padding: 4rem;
    }

    .cabecalho {
        display: flex;
    }

    .cabecalho__imagem-desktop {
        display: inline-block;
        margin-left: 4rem;
        width: 8rem;
    }

    .cabecalho__imagem {
        margin-left: 12.5625rem;
        position: absolute;
        top: 3.3rem;
        right: 3rem;
    }
}
