.conteudo {
    text-align: center;
    flex-grow: 1;
    font-family: var(--font-poppins);
}

.conteudo__imagem {
    margin: 2.75rem 0 1.25rem;
}

.texto {
    width: 16.5rem;
    margin: 0 auto 1.5rem;
}

.texto__item {
    margin-bottom: 0.5rem;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: var(--azul);
}

@media screen and (min-width: 768px) {
    .conteudo__imagem {
        width: 15.7rem;
        margin-top: 5.75rem;
    }

    .texto__item {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (min-width: 1440px) {
    .texto {
        width: 550px;
        margin: 2.5rem auto 2.5rem;
    }

    .conteudo__imagem {
        margin-top: 0px;
    }
}
