.navegacao {
    padding: 3rem;
}

.cabecalho__imagem-desktop {
    display: none;
}
.navegacao__item {
    margin-right: 3.75rem;
}

@media screen and (min-width: 768px) {
    .navegacao {
        padding: 4rem;
    }

    .cabecalho {
        display: flex;
    }

    .cabecalho__imagem-desktop {
        display: inline-block;
        margin-left: 4rem;
        width: 8rem;
    }
}
